<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Library</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="book-list">Books</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#" data-genre="fiction">Fiction</a></li>
            <li><a class="dropdown-item" href="#" data-genre="nonfiction">Non-Fiction</a></li>
            <li><a class="dropdown-item" href="#" data-genre="science">Science</a></li>
            <li><a class="dropdown-item" href="#" data-genre="history">History</a></li>
            <li><a class="dropdown-item" href="#" data-genre="tech">Technology</a></li>
            <li><a class="dropdown-item" href="#" data-genre="philosophy">Philosophy</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="myPageButton" *ngIf="isLoggedIn" href="/myPage">My Page</a>
        </li>
      </ul>
      <form class="d-flex ms-auto" id="searchForm">
        <input class="form-control me-2" type="search" id="searchInput" placeholder="Search books" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
<button class="btn btn-outline-primary ms-3" *ngIf="!isLoggedIn"><a class="nav-link" href="login">Login</a></button>
<button class="btn btn-outline-secondary ms-2" *ngIf="!isLoggedIn" data-bs-toggle="modal"
  data-bs-target="#signupModal"><a class="nav-link" href="create-user">Sign Up</a></button>
<button class="btn btn-outline-danger ms-2" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
</div>
  </div>
</nav>
