<div class="container mt-5">
  <h1>Book Detail</h1>
  <div *ngIf="book; else noBookFound">
    <h2>{{ book.title }}</h2>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Genre:</strong> {{ book.genre }}</p>
    <p><strong>ISBN:</strong> {{ book.ISBN }}</p>
    <p><strong>ID:</strong> {{ book.bookID }}</p>
    <p *ngIf="book.isBorrowed"><strong>Status:</strong> Borrowed</p>
    <p *ngIf="!book.isBorrowed"><strong>Status:</strong> Available</p>
  </div>

<!-- Add safe navigation operator to avoid errors if book is undefined -->
<button *ngIf="book?.isBorrowed && book?.userID === currentUsername" (click)="returnBook(book.bookID)"
  class="btn btn-warning">Return</button>
<button *ngIf="!book?.isBorrowed" (click)="borrowBook(book.bookID)" class="btn btn-success">Borrow</button>


  <ng-template #noBookFound>
    <p>No book details available.</p>
  </ng-template>
</div>
